[Unit]
Description=Daily Update Check Timer
PartOf=automation.target

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
